<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <title>World Covid Info</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <h1 class="playfair">How Has COVID Affected Our World</h1>
            <ul>
                <li><a href="#" class="highlight">Home</a></li>
                <li><a href="stats.html">Stats</a></li>
                <li><a href="#">Effects</a></li>
            </ul>
        </nav>
        <div class="jumbotron">
            <article>
            <h1 class="playfair"><span class="highlight">Covid</span> Spread Around the World</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusamus modi, dolores quasi consequatur esse quibusdam dolore. Soluta, dolorum libero molestias porro, explicabo fuga sint, corporis expedita praesentium nulla magni inventore suscipit quos eos ullam eum optio quam officia provident ut. Dolorem omnis quas fuga eaque, consequuntur voluptate optio quae incidunt quam nostrum atque animi! Aut nam et quam quasi corrupti sint, odio dicta commodi quibusdam numquam ipsam impedit iure dolores provident nobis! Veniam, vel. Earum magnam similique, hic, temporibus cupiditate aliquam, dolore sunt ut nesciunt cum asperiores reprehenderit consectetur!</p>
            </article>
            <img src="../assets/images/jumbotronz.jpg" alt="">
        </div>
    </header>
    <main class="general">
        <h1 class="playfair">General Info</h1>
        <section class="info">
            <div class="circle">
                <h2 class="playfair">4.03<br>Million</h2>
                <p>current<br>COVID-19 cases</p>
            </div>
            <div class="circle second">
                <h2 class="playfair">191</h2>
                <p>Countries Effected</p>
            </div>
            <div class="circle">
                <h2 class="playfair">4.06<br>Million</h2>
                <p>Distributed Vaccine Worldwide</p>
            </div>
        </section>
    </main>
</body>
</html>
