<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <h1 class="playfair">COVID-19 Statistics Worldwide</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="highlight">Stats</a></li>
                <li><a href="#">Effects</a></li>
            </ul>
        </nav>
    </header>
    <main class="statsmain">
        <article class="bottom-border statsdash">
            <h1 class="playfair statbesar" style="color: #ffd700;">197<br>Million</h1>
            <div class="stattext">
                <h1 class="playfair">Confirmed</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat molestias soluta enim veritatis labore et laborum placeat quod reiciendis. Fugit vitae ipsam nulla earum eius beatae quibusdam quasi dolore voluptas quas cumque quos, rem sunt consectetur in saepe ex dolorum. Dolore expedita velit consectetur, inventore ullam aliquam non itaque explicabo, quos culpa tempore recusandae. Officia mollitia nemo expedita, magnam vel facilis voluptas incidunt consequuntur magni aliquid suscipit dolorum dolorem quam ipsam eius dolores odit ipsa quibusdam cupiditate sit perspiciatis porro eum!</p>
            </div>
        </article>
        <article class="bottom-border statsdash">
            <div class="stattext">
                <h1 class="playfair">Recovered Cases</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis iure, quam vitae molestiae minus recusandae corporis velit saepe a, ab quasi facere laborum dolorum, unde nobis? Accusamus sit odio eum asperiores corporis aspernatur ipsum, accusantium, quo illum sed rem voluptatem cupiditate. Quidem non eum officiis adipisci inventore incidunt molestiae reiciendis expedita. Veritatis eveniet dolor impedit et suscipit cupiditate sint eius a libero! Consequatur incidunt iure corrupti, non, hic at, laudantium commodi dicta porro amet veritatis!</p>
            </div>
            <h1 class="playfair statbesar" style="color: #00b100;">117<br>Million</h1>
        </article>
        <article class="bottom-border statsdash">
            <h1 class="playfair statbesar" style="color: red;">4.2<br>Million</h1>
            <div class="stattext">
                <h1 class="playfair">Total Death</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque molestias dolore libero sapiente id. Impedit eos dignissimos aperiam suscipit libero debitis, doloribus sed perferendis possimus dolorem, omnis repellat delectus iure sapiente laudantium enim temporibus necessitatibus iste et ab quis labore. Minus, consequuntur rerum! Sapiente accusantium nobis, debitis ipsum vitae sit aliquid molestias dicta. Quaerat, deleniti sit iste dicta recusandae ipsa voluptates fugiat quibusdam, incidunt non libero nihil exercitationem consequuntur ullam!</p>
            </div>
        </article>

        <!-- ============================ sub pages ===================== -->
        <article class="subpagestat">
            <div class="bottom-border searchBar">
                <h1 class="playfair searchtitle">Search Your Country</h1>
                <section class="main-search">
                    <div class="search-box">
                    <input class="search-txt" id="valueElement" type="text" placeholder="Type to search...">
                    <a href="#mainzz" class="search-btn" id="pemicuEvent" onclick="cariApi">
                        Ok
                    </a>
                    <h1>Current Country :<br><span id="textnotyet">Not Search Yet</span></h1>
                    </div>
                    <h2 class="placeholder">Negara tak ditemukan<br>Coba gunakan nama Basis Inggrisnya: Italy, USA, dll</h2>
                </section>
                <!-- <search-section></search-section> -->
            </div>
            <div class="mainData">
                <div class="bottom-border">
                    <canvas id="canvas"></canvas>
                    <div class="searchEx">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
                <div class="bottom-border">
                    <div class="chart"></div>
                    <div class="searchEx">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
                <div class="bottom-border">
                    <div class="chart"></div>
                    <div class="searchEx">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <script src="../script/component/search.js"></script>
    <!-- <script src="../script/data/dataSource.js"></script>
    <script src="../script/main/index.js"></script> -->
    <script src="../script/data/searching.js"></script>
</body>
</html>
